<?xml version="1.0" encoding="UTF-8"?>
<root>
     <tem engine="2008.0.0" />
     <settings>
          <installDir value="/app/tc11/tcroot" />
          <sourceDir value="/data/Tc11.2.0" />
          <application value="tceng" />
          <silentMaintenance value="false" />
          <installingUser value="infodba" />
          <installLanguage value="ENGLISH" />
          <aboutFullVersion value="11.2" />
          <version value="11000.2.0.20150715" />
     </settings>
     <sourceLocations>
          <coreLocations>
               <directory value="/data/Tc11.2.0" />
          </coreLocations>
          <browsedLocations />
     </sourceLocations>
     <config name="{{ pm_name }}" id="{{ pm_name }}">
          <mode type="install" clone="false">
               <checkpoints>
                    <checkpoint value="featureProperties">
                         <point value="feature_id:rtserver" />
                         <point value="rtserver_file:materialmgmt_rtserver.zip" />
                         <point value="coreTemplate:foundation_template.xml" />
                         <point value="template_file:foundation_template.xml" />
                         <point value="template_name:cm" />
                         <point value="template_file:cm_template.xml" />
                         <point value="template_name:materialmgmt" />
                         <point value="template_file:materialmgmt_template.xml" />
                         <point value="minMSSQL2005Version:10.50" />
                         <point value="migratejre:yes" />
                         <point value="feature_id:datamodel,rtserver" />
                         <point value="template_name:csi" />
                         <point value="minDB2Version:9.7.4" />
                         <point value="feature_id:datamodel" />
                         <point value="bmide_optional:false" />
                         <point value="vcruntimes:vc2005,latest" />
                         <point value="template_file:csi_template.xml" />
                         <point value="rtserver_file:csi_rtserver.zip" />
                         <point value="vcruntimes:latest" />
                         <point value="rtserver_file:nx0tcin_rtserver.zip" />
                         <point value="minOracleVersion:11.2.0.1" />
                         <point value="template_rtserver:false" />
                         <point value="vcruntimes:vc2008,latest" />
                         <point value="doRtserverCheck:true" />
                         <point value="feature_id:rtserver,web" />
                         <point value="feature_name:servermanagerconsole" />
                         <point value="bmide_optional:true" />
                         <point value="template_name:foundation" />
                         <point value="template_name:nx0tcin" />
                         <point value="feature_id:translator" />
                         <point value="typeAnalysis:true" />
                         <point value="template_file:nx0tcin_template.xml" />
                    </checkpoint>
               </checkpoints>
          </mode>
          <comments />
          <data>
               <tcLocation guid="5E43305CB92871A786D61692B085F6CB">
                    <tcData value="/tc/tcdata" />
                    <tcRoot value="/app/tc11/tcroot" />
               </tcLocation>
               <director guid="661AA2A766CA975D998EBE61455F3EA3">
                    <status value="0" />
                    <saveStateOnFail value="true" />
                    <script>
                         <temBase />
                         <copyFeature name="Microsoft Visual C++ Runtimes" feature="A0CF69C3A0BC61770EB81BD22667EA52" />
                         <copyFeature name="Business Modeler IDE" feature="A9CECD82127A11DB9804B622A1EF5492" />
                         <copyFeature name="VC 2008 Redistributables" feature="DPBL8RC6MUS0LCPS10NIPGR85RI7HPHQ" />
                         <copyFeature name="Teamcenter File Services" feature="BC76F9D1AB7C93A848D0FE3602F59097" />
                         <copyFeature name="Flex License Server" feature="D1D683A8B2CE1EB821B97CD2EE5D7627" />
                         <copyFeature name="VC 2005 Redistributables" feature="UDR4NG0DEZ1TN9XHKG7Z8AFDPVVTZXL2" />
                         <copyFeature name="VC 2013 Redistributables" feature="NJCMQH3ZMYTPPPGA8BS4Q1C7OV6IXVXU" />
                         <copyFeature name="VC 2010 Redistributables" feature="R08U30BA5KZYSNDFKMGXKKHWEYOOVD7V" />
                         <copyFeature name="VC 2012 Redistributables" feature="Z9ICW073V9QXU4H5F8BK6CXG6KFYWBQZ" />
                         <copyFeature name="Business Modeler Templates" feature="A909338A1CB411DB8AF6B622A1EF5492" />
                         <copyFeature name="Digital Dashboard" feature="A9CECD82127A11DB9804B622A1EF5599" />
                         <copyFeature name="FMS Server Cache" feature="90C2A1C96F6A61FAB397AF88ABE4AAC1" />
                         <copyFeature name="Teamcenter Foundation" feature="8C061DD51E13E0CB9DC4687B1A3348BE" />
                         <copyFeature name="NX Part Family Classification Integration" feature="B176F6B6E9E91D9804EFB0D2010FD613" />
                         <copyFeature name="Workflow to Scheduling Integration" feature="DB57677C9C6456C44F9E1B3F260A0BAA" />
                         <copyFeature name="XpresReview Integration for Rich Client" feature="E2564114E1B964BB23D78078DBA34EEF" />
                         <copyFeature name="Log Manager Query Service" feature="D0CB65B15B612F5D5E826DB25C36BBE3" />
                         <copyFeature name="Integration Framework Core" feature="A7VHYBBAGVCSOWCZY1GWS62INNF4PFFI" />
                         <copyFeature name="Java EE Based Server Manager" feature="BF0E78AFE4280DCB08594EA2F3671BE8" />
                         <copyFeature name="Enterprise Integration" feature="OYHVYAFW58K7HO14CV1K1CUWINQJTOTC" />
                         <copyFeature name=".NET Based Server Manager" feature="DD8422137D2E5E68816A03115FC84CFA" />
                         <copyFeature name="PMM Integration" feature="4J6FG0LJ99F56S2T4V5ZCNQQTTZT6CE6" />
                         <copyFeature name="SRM Integration" feature="U73JQSX2SQ3O15LQRL8IFVRR8ALSWHBT" />
                         <copyFeature name="Substance Compliance Integration" feature="SMT7IM3N40OXUP7U7U3D378NANP6V9PZ" />
                         <copyFeature name="Resource Manager - Import Content Kit Data" feature="E2564104E1B964BB23D78078DBA34EE2" />
                         <copyFeature name="Multisite Collaboration IDSM Service" feature="E24684E2CA725A251A924E6E66D3BC75" />
                         <copyFeature name="Multisite Collaboration ODS Service" feature="640272785D1C6B8CADF6D65BF2D7AC0D" />
                         <copyFeature name="Action Manager Service" feature="49DB4E82CF098BE332C83AB78122E5B8" />
                         <copyFeature name="Subscription Manager Service" feature="50DB3E81CB098FE302D83EF78162E5D8" />
                         <copyFeature name="Task Manager Service" feature="15CB3E81DB098FE311D83EE78162E58D" />
                         <copyFeature name="Tessellation Manager Service" feature="51AB3E11DB083FE3D1283FE78662E58D" />
                         <copyFeature name="Client Communication System" feature="WV56WDWGQRW3NDGOS4YEXNF55EKZHUEN" />
                         <copyFeature name="4-tier Teamcenter server configurations" feature="DEAB60C088864AE15812DD245D956136" />
                         <copyFeature name="Hierarchical Storage Management (HSM)" feature="DADD704280EF4F10B79E75E6A25BECE3" />
                         <copyFeature name="Acrobat/Reader Plugin" feature="KC36GEJBF89QQPLWDKHE1BBHCKR2RO0J" />
                         <copyFeature name="Business Modeler IDE Standalone" feature="050C602E296911E089088DF4DED72085" />
                         <copyFeature name="Systems Engineering Base" feature="34C312D00ADA4C91AFAEBC78877E1893" />
                         <copyFeature name="Online Help" feature="BC5056A6B667D206C8158831E5144703" />
                         <copyFeature name="File Client Cache" feature="EAB3ECEBDF0A862AD68B45429FE5402E" />
                         <copyFeature name="Configure Resource Browser and NC Package Browser" feature="6712CD0D4D5DD7A2E29844E3158BA08A" />
                         <copyFeature name="JtUtilities Support" feature="42791A48DCBDD23FF08668F5847C96CC" />
                         <copyFeature name="Clearance DB" feature="C636B8BF212A350EF068FEEFA8F7C8D6" />
                         <copyFeature name="Global Services Preferences" feature="B856BBF3665AC80A8F8F23F86EB80FE0" />
                         <copyFeature name="Teamcenter Security Service" feature="21E1D6695FB332DF61AC478C4FA17C3B" />
                         <copyFeature name="Systems Engineering Base/SE Base for Rich Client" feature="E136DFF3B9BE439F895E38D4A1095FEE" />
                         <copyFeature name="Teamcenter Management Console" feature="K8UXRUS99KEBJT92NOLP4WX2198HT6RM" />
                         <copyFeature name="2-tier Servers (Shared Disk Deployment)" feature="FC7470F50B7D04347904245D1E3C06F1" />
                         <copyFeature name="EDA for Business Modeler IDE" feature="90C7E167F193EE77FB5FDF1BDDDE193B" />
                         <copyFeature name="Sample files" feature="37E395BDF9DB56B53B161BDF703E8DD5" />
                         <copyFeature name="Data Share Manager" feature="6O6A3KQKM1Q1ZU9D14NJPY6OGAPG9XKU" />
                         <copyFeature name="Remote Workflow" feature="D25881B5D67467D85164B0334D441259" />
                         <copyFeature name="Teamcenter Multisite Collaboration NobleNet Portmapper Service" feature="1DE5E693FCAA39F85E23398FD7D26468" />
                         <copyFeature name="Teamcenter Extensions for Microsoft Office" feature="E06BC676B5FFF7910552AFC256C6B537" />
                         <copyFeature name="Full Text Search Engine" feature="9BD9BA7EA062ECD5F19B8E8C744851FE" />
                         <copyFeature name="Multisite Collaboration" feature="A99522AC5D43F765014218AEFC1F92D9" />
                         <copyFeature name="CAD BOM Alignment" feature="A234BB1CE3FE44E9CEB2DD3259734DF2" />
                         <copyFeature name="Mapping Designer" feature="E7F776ACC1F19834334FE879899B785A" />
                         <copyFeature name="Teamcenter for Reporting and Analytics" feature="79E7EACA15B11142CB2857185AB58469" />
                         <copyFeature name="2-tier server configurations" feature="E6BE32EBDFCC32D5F00E52BFEEAFC590" />
                         <copyFeature name="Teamcenter Shared Metadata Cache Service" feature="9J67FMJW457OPP92THWSEO2RP38DSKS6" />
                         <copyFeature name="Global Services Adapter" feature="9AF11ACFE6A6D0CF6EABDFEB300D0E00" />
                         <copyFeature name="Web Tier for .NET" feature="6A55016BDB3EA53E8051B1EA0DC91A44" />
                         <copyFeature name="Database Daemons" feature="49BD4E81FC098BE233C83B7A81EB25B8" />
                         <copyFeature name="ASP.NET State Service" feature="BFD8083B08D3055BC90800BE15F200A3" />
                         <copyFeature name="Teamcenter Rich Client (2-tier and 4-tier)" feature="P2ZMYZEG30HLK4WVG7HFB9IJI7V4V3LA" />
                         <copyFeature name="Business Modeler IDE 2-tier" feature="C10846D4E83C11DBB817239D55D89593" />
                         <copyFeature name="Teamcenter Rich Client (Shared Disk Deployment)" feature="A2564824E1B434AC23D70178DBA34BCA" />
                         <copyFeature name="Teamcenter Rich Client 2-tier" feature="E2564104E1B964BB23D78078DBA34EEA" />
                         <copyFeature name="Business Modeler IDE 4-tier" feature="616ADEEAE84011DBBB7C38A455D89593" />
                         <copyFeature name="Requirements Management/Requirements Management for Rich Client" feature="16BD419F18854355BCF1168198507CAA" />
                         <copyFeature name="Teamcenter Client for Microsoft Office" feature="E277D26EC8A8DBB63F59AAC04EC0A8C7" />
                         <copyFeature name="Requirements Management" feature="0BBB1F4059A5451F8D362CBE69A7CF8D" />
                         <copyFeature name="Teamcenter Excel Import" feature="AC529AFCF83F0C9C228905FF58639DE5" />
                         <copyFeature name="Teamcenter Rich Client 4-tier" feature="FF18D25DA73019F880BCFFBC0029CA28" />
                         <copyFeature name="Java EE Based Linked Data Web Services" feature="E02564B198124A40A41A836FCEFB04B1" />
                         <copyFeature name="Color and Visual Appearance Management/Color Appearance module for Rich Client" feature="9474F850F5094BCABD47CA6587AA29FA" />
                         <copyFeature name="Teamcenter Visualization" feature="4C91A6B1D80B7C60C132BB300CC32D15" />
                         <copyFeature name="Change Management/Data Model" feature="E9B8A3F6B7B53AE540DCC54C13B3C201" />
                         <copyFeature name="Finish Management" feature="0523CFDE70920C747A81E4B4B5C37D1F" />
                         <copyFeature name="Vendor Management/VendorManagement for Rich Client" feature="408579C11CFBD85308B4A8520653FDAF" />
                         <copyFeature name="Product Line Planning" feature="8C48BE8B937D1854219F9D82342B0A8D" />
                         <copyFeature name="Test Manager/Data Model" feature="1A7142F41B1AD50B14BCB8325BA44826" />
                         <copyFeature name="Linked Data Framework/Runtime Server" feature="6B8A13A18A834AE5A0FCBAC48A33B24F" />
                         <copyFeature name="SCM ClearCase for Foundation/SCM ClearCase for Rich Client" feature="2AF08820CA3CA873CD89121D61B754FA" />
                         <copyFeature name="Global Services Monitoring GUI for Rich Client" feature="25F5E231A4D27CC30232CF609CD8FF0A" />
                         <copyFeature name="Simulation Process Management/Data Model" feature="63926058F0B8026AE4BEE538F027252F" />
                         <copyFeature name="Attribute and Parameter Base Definitions/Data Model" feature="380158E63FFFB001623EEA109AA851A6" />
                         <copyFeature name="ESM Base/Data Model" feature="0F6DE2660F0752911E8E714F487F6A23" />
                         <copyFeature name="Product Line Engineering Request/Runtime Server" feature="60FBA0D39A0E031902DFE49151AEDCBF" />
                         <copyFeature name="Configurable PMI Visualization/Data Model" feature="50D172EFEBBD9870E7124427E156F17B" />
                         <copyFeature name="Finished Product Management" feature="BE70691A8CB7AED81EABC49ABD9DC855" />
                         <copyFeature name="Change Manager 4GBOM Interface" feature="A8E79F012998C81D7EDCE33A0FB463AC" />
                         <copyFeature name="MS Office for Rich Client" feature="CDBE47C7856018B971CABB24CAE70A07" />
                         <copyFeature name="Teamcenter Integration Interface to iWay for Rich Client" feature="C10834BBD63EF769D68A6BA712308FF3" />
                         <copyFeature name="Work Instructions/CMTMES For Rich Client" feature="76RIMZKCI066SJ4YJUOL6JJ6A6YV54VQ" />
                         <copyFeature name="Weld Management/Data Model" feature="C83322AC0B965077F19A3CA4042B7814" />
                         <copyFeature name="Contract Data Management" feature="1ED8CC1D27CA8EEA88F6C10A972C179C" />
                         <copyFeature name="Material Management" feature="6FF546FE37A6E0110A01C0F19F5742A0" />
                         <copyFeature name="Finish Management/Finish Management For Rich Client" feature="5B996EE101BDA16D35C53EBBFD084BD5" />
                         <copyFeature name="EDA Server Support/Runtime Server" feature="34D1115BC6A3EAC2036505988479E38B" />
                         <copyFeature name="Contract Data Management/Contract Management For Rich Client" feature="5B996EE101BDA16D35C53EBBFD084BD9" />
                         <copyFeature name="ERP Connect/Data Model" feature="B0990732D90ADDB185435B0A1168DA4A" />
                         <copyFeature name="Translation Service Database Module" feature="326CA27DCABEFBB96D2735397986C1B9" />
                         <copyFeature name="Product Variants" feature="5C1F7A117E8851D890FBEE7C2C6C43F8" />
                         <copyFeature name="Content Management Base/Content Management Base for Rich Client" feature="845EC8CD9FDBDDE21AAE36C5C448CDCE" />
                         <copyFeature name="Teamcenter Single Sign-on for Rich Client" feature="E55610E8ECDB81520D8DAFD99D6BF542" />
                         <copyFeature name="Software Component Defect Tracking/Data Model" feature="01C48C20436858A13A73AB23308286BC" />
                         <copyFeature name="EDA for Rich Client" feature="8CA0C8D5FE1CCA285011ECBC894990F7" />
                         <copyFeature name="SRM Integration" feature="A467EE916A97817ED32D748464A9740F" />
                         <copyFeature name="Symbolica Integration" feature="DB478DCFDDA70C823A7061D080229CD0" />
                         <copyFeature name="Stock Material/Runtime Server" feature="0D96BD561E8D827D2A5D29FF5F4675DD" />
                         <copyFeature name="Brand Management" feature="1D2F53EC9507B75848DDEE60D1004AF4" />
                         <copyFeature name="Customization for eM-Server Integration" feature="1A4C20CFAB9F7C7D6FFA9B0D9903877D" />
                         <copyFeature name="MTM Data Card" feature="A22E1FC6EA1C4824BED64B2115B60FA5" />
                         <copyFeature name="Work Instructions/Data Model" feature="49A6EDA79E840AE24AC5CBC86718A4BC" />
                         <copyFeature name="Catia Non BOM/Data Model" feature="C84BFC90FBAE586D7F612DE59B5428AE" />
                         <copyFeature name="SRM Integration/SRM Integration For Rich Client" feature="E49D9A25DD68C3A0340D1B4EF0AF4769" />
                         <copyFeature name="Dashboard" feature="4F413272A02448E3A4E923213C5E718B" />
                         <copyFeature name="CPG Materials/Data Model" feature="B3EFB3DBA8571DE1C3507955606FE5B4" />
                         <copyFeature name="ESM Base/Embedded Software Manager for Rich Client" feature="8C7E9376745DB772BD6C410B771913BD" />
                         <copyFeature name="Systems Engineering/Runtime Server" feature="5D7B379B90064E60A1194DC462FE5E20" />
                         <copyFeature name="Classification L10N/Data Model" feature="3BFF9272581BBF8614108FFC21173265" />
                         <copyFeature name="Material Management/Material Management For Rich Client" feature="GMXLEGZT8SKZCVT0LUJHMCPAJ2WJBDHV" />
                         <copyFeature name="Advanced PLM Services for Applications/Data Model" feature="F48016E4FBF7F866155FC83B3845DC6F" />
                         <copyFeature name="EMPS - Foundation/Data Model" feature="110686D6C4787CAB33827472564C49BE" />
                         <copyFeature name="Teamcenter Linking for Rich Client" feature="3E8FC40CA30FBBDD9616CFF519B853E4" />
                         <copyFeature name="Product Configurator/Data Model" feature="0B0888D6D9955ACA4F9B6B51C3EF2063" />
                         <copyFeature name="Wire Harness Configuration/Data Model" feature="3CB6324203A30028A06136E18A91FE8F" />
                         <copyFeature name="Configure Resource Manager" feature="E2564104E1B964BB23D78078DBA34EE3" />
                         <copyFeature name="Work Package Management/Runtime Server" feature="7B2E535180166AA6910530181A96314C" />
                         <copyFeature name="Configure Part Planner" feature="E2564104E1B964BB23D78078DBA34EEF" />
                         <copyFeature name="Content Management Base/Runtime Server" feature="CA7A3D1E190B622177928E546496177D" />
                         <copyFeature name="MRO Core" feature="684AEBE559B1FDF2D2302B88C24B800D" />
                         <copyFeature name="Logistic Process Planning/Runtime Server" feature="6KE8C77VA81SNDJMH8ZGTKWXIEMJFUWD" />
                         <copyFeature name="Systems Engineering/Functional Modeling / Budgets for Rich Client" feature="402A68F9A9754C36887FEE65F7F27A1E" />
                         <copyFeature name="NX Foundation" feature="750315D3BEB2810D3A4FA698D8EAED8A" />
                         <copyFeature name="ECAD Part Library for Rich Client" feature="A5FBE787BFBF2931B2B5617D9CC75332" />
                         <copyFeature name="4D Planning" feature="4478BCEF2B41E618597D5D10A47E1B38" />
                         <copyFeature name="JT Editor Integration for Rich Client" feature="7X3MT0CUL3SKKF50R5CCFZT7PFOQYFM2" />
                         <copyFeature name="Packaging and Artwork/Data Model" feature="708DA830BE2F600C05515AF4CF1D69B6" />
                         <copyFeature name="LOGISTICS For Rich Client" feature="461B194228F0B9BE094F83F369D3D59B" />
                         <copyFeature name="NX Rich Client Integration" feature="3645D0D80B399B9544D9642F0292347C" />
                         <copyFeature name="Teamcenter Automotive Edition" feature="9D99D8834C1CAE2997268B45A414C2B9" />
                         <copyFeature name="Color and Visual Appearance Management/Runtime Server" feature="7B4E51FA115D41269D6BE155908F08E3" />
                         <copyFeature name="Product Variants/Product Variant for Rich Client" feature="1D946E1FBC437A8CF8F13376214BFCB4" />
                         <copyFeature name="Specification Manager" feature="360277D5519E322CF0E5B050816E154B" />
                         <copyFeature name="Specification Manager/Specification Manager For Rich Client" feature="722D79824F24DFC004CDE702E91E9202" />
                         <copyFeature name="Oracle Manufacturing Integration" feature="83BE1890E9A8F382C47C404DAC1FCB01" />
                         <copyFeature name="SCM ClearCase for Foundation" feature="B3857C8F30D5AC21D3206E99CBB2DFBE" />
                         <copyFeature name="Teamcenter Link for Rich Client" feature="215B8380E5C6DC9FD01B1EC2A9100BE3" />
                         <copyFeature name="Teamcenter Visualization (Embedded) for Rich Client" feature="70E3D236E117DB49920EDAD9566777AC" />
                         <copyFeature name="Engineering Translation Service for Rich Client" feature="024C0ED69CF814A4BEFB3258D0EB646A" />
                         <copyFeature name="Product Configurator/Product Configurator for Rich Client" feature="30A940648B944AFD96930ABF06DD0A14" />
                         <copyFeature name="Vendor Management/Data Model" feature="7EB052BF7B4039A2BB8C9F98009DD22D" />
                         <copyFeature name="Dispatcher Client for Rich Client" feature="4FF970313813975F79306DF81D3C4A6B" />
                         <copyFeature name="Product Master Manager" feature="57A200BE04F16212ABEE5011A667C212" />
                         <copyFeature name="Product Master Manager/Product Master Management module for Rich Client" feature="57A200BE04F16212ABEE5011A667C213" />
                         <copyFeature name="Self Paced Training" feature="BC5056A6B667D206C8158831E5144753" />
                         <copyFeature name="Linked Data Framework/Lifecycle Interoperability Services Framework For Rich Client" feature="5EA9640C2BFA40249EFB42C45695B69F" />
                         <copyFeature name="Teamcenter Rapid Start Configuration/Teamcenter Express" feature="17831A16F52AFB49F4C7AFED9AEDE697" />
                         <copyFeature name="Teamcenter Visualization (Stand-alone) for Rich Client" feature="D2E2D591EBEB29F96CD11670D137A529" />
                         <copyFeature name="CPG Materials/CPG Materials for Rich Client" feature="3D2B93D359D142F7B0566AE6DF18E896" />
                         <copyFeature name="Advanced PLM Services for Applications/Advanced PLM Services for Applications For Rich Client" feature="2448846B5A3447DCB22346863B018486" />
                         <copyFeature name="Stock Material/Stock Material for Rich Client" feature="84BD42805B31EC68B30A95B0E0E3BC9A" />
                         <copyFeature name="MRO Core/MROCore for Rich Client" feature="E4CD1EDE20C3F82E69DF9D3EE2A89D2D" />
                         <copyFeature name="Content Management System for Rich Client" feature="04E69C2A7FE5ED9BBBF881F09F7B4CBB" />
                         <copyFeature name="4D Planning/FOURDPLANNING For Rich Client" feature="712514KCI066SJ4YJUOL6JJ6A6YV54VQ" />
                         <copyFeature name="Test Manager/Test Manager for Rich Client" feature="T7PJUBI5CEABZC6L99JZH1K2NCJCHBU5" />
                         <copyFeature name="Manufacturing Characteristics Information/Runtime Server" feature="69822D629FDD077E90D3F7794E212NDA" />
                         <copyFeature name="Substance Compliance" feature="7B4778E89EDB5DB053236CFBE20EDA13" />
                         <copyFeature name="Customization for Process Simulate Integration/Data Model" feature="F40CD40748BB470C98798DB9E294782A" />
                         <copyFeature name="GM Overlay/GM Overlay for Rich Client" feature="85B3827CD5A0FA61220398F6C60C21AB" />
                         <copyFeature name="Aerospace and Defense Foundation/Aerospace and Defense Foundation for Rich Client" feature="93B204840EA1C3397C9F0FA793AD2079" />
                         <copyFeature name="Service Planning/Data Model" feature="21897834EF8838DDF454F9E609F8E722" />
                         <copyFeature name="eBOP Reports Customization/Data Model" feature="E4FEEA21B65873535FB16A137F7188C5" />
                         <copyFeature name="Advanced PLM Services for Realization/Data Model" feature="9D98D83C2FCB4C1CEA454CA42EF79665" />
                         <copyFeature name="ESM Software/Data Model" feature="93A06E513A7F3D8D3C266EBB6DECF199" />
                         <copyFeature name="Aerospace and Defense Foundation/Data Model" feature="C1CE3C8DECCB592B48B69F1C9608F5B5" />
                         <copyFeature name="Database Configuration for DPV" feature="F75669CE9BE56076882E5F3F00A34F35" />
                         <copyFeature name="Content Management S1000D" feature="35465551FA5F9124102737B523D57269" />
                         <copyFeature name="As-Built Management/Data Model" feature="898522D9E3DF2B24011350F411A38672" />
                         <copyFeature name="As-Maintained Management/Data Model" feature="CCDCEBB9135C99CA64F529FA82F029FB" />
                         <copyFeature name="Manufacturing Characteristics Information/Manufacturing Product Characteristics solution Rich Client" feature="76ADXPACI077SJ4NDAOL6JJ6A6YV79VN" />
                         <copyFeature name="Aspect Infrastructure Support/Data Model" feature="562D6020ABC3885D58060E35CE0FAA7A" />
                         <copyFeature name="Measurable Attributes and Targets/Runtime Server" feature="C3688FF8D15F430B9692870757E58FA5" />
                         <copyFeature name="Service Planning/Service Planning" feature="746C36C6D77CCFBA734884AF416C59B5" />
                         <copyFeature name="Change and Schedule Management Interface/Change and Schedule Management Interface" feature="EBB13202744A11E1B1B240504824019B" />
                         <copyFeature name="Packaging and Artwork to Finished Product Management Bridge" feature="871487DE3C39BE8202EF4B83BA395C4B" />
                         <copyFeature name="Color Explosion Rule Management/Runtime Server" feature="ED9E5D4B2BE046A3AF62AAD02668DD7A" />
                         <copyFeature name="Finished Product Management to CPG Materials Bridge/Data Model" feature="7064A5578FB40F08F35BB43EB2968B3C" />
                         <copyFeature name="Calibration and Configuration Data Management" feature="EF01FC4BE149C85AEDB6F254149E5413" />
                         <copyFeature name="MES Integration/Data Model" feature="3C1CBF433B9EBCEB654AF496A26E0C6A" />
                         <copyFeature name="CAD-BOM Alignment/Data Model" feature="56E58016E28695DB07F1538B7FBFCE9C" />
                         <copyFeature name="Change and Schedule Management Interface/Data Model" feature="D18192F4475ADEA11EC85F454C6ABA31" />
                         <copyFeature name="Render Document for Rich Client" feature="3224587CC01DE671BE52FE0C5D6BC91C" />
                         <copyFeature name="Calibration and Configuration Data Management/Calibration and Configuration Data Management for Rich Client" feature="A8015D42EE7924EC0F86743E6EB381A6" />
                         <copyFeature name="GM Overlay/Data Model" feature="AE4CE86951AE586C4BF107E08C441E3E" />
                         <copyFeature name="Embedded Software Design Data Management/Embedded Software Design Data Management for Rich Client" feature="278A6BF6EFC36B33A25B1C719E7C7B63" />
                         <copyFeature name="As-Maintained Management/As-Maintained Management for Service Manager" feature="4B056E036F003D836BFCA783858AFD82" />
                         <copyFeature name="Substance Compliance/Substance Compliance For Rich Client" feature="WG666PFFZMTFRL6CK3ZYTY6BP4Y83OXF" />
                         <copyFeature name="Issue Management/Data Model" feature="AB97AAAC46471B7D5DC94C8A46E528ED" />
                         <copyFeature name="Content Management DITA/Data Model" feature="1C6B248621A3169388EA192A81AD9614" />
                         <copyFeature name="Linked Data Framework Support" feature="5809EE86F8B96CEDDA47D9204624821E" />
                         <copyFeature name="Change Management Configurator Interface/Data Model" feature="8B4068581226E02732BEC15A005E0F28" />
                         <copyFeature name="Embedded Software Design Data Management/Data Model" feature="0C650337B2836CFF6DB5E4267D119C69" />
                         <copyFeature name="Database Configuration for DPV/GDIS for Rich Client" feature="6CC44514DE164A22860B0BBE8616E6A2" />
                         <copyFeature name="CAD-BOM Alignment/CAD-BOM Alignment module for Rich Client" feature="57A200BE04F16212ABEE5011A667C215" />
                         <copyFeature name="As-Built Management/As-Built Manager" feature="0B1C34ECB6A9459B8E6B836BF450673B" />
                         <copyFeature name="Linked Data Framework For Change Management Integration/Data Model" feature="F57FB3850498C2706B513838B42D84CD" />
                         <copyFeature name="ESM Processor/Data Model" feature="16D2B10E8A1406D66B245DDDC0C6B723" />
                         <copyFeature name="Content Management DITA/Content Management DITA for Rich Client" feature="25B2B500111E9BCE307EF233A85B9C89" />
                         <copyFeature name="Teamcenter Rich Client (Lite Edition)" feature="05C0DA1C9E5F481183FFE7FE8F6FB964" />
                         <copyFeature name="Color Explosion Rule Management/Color Rule Management module for Rich Client" feature="2FD8E43E0E324F0C824423C44F8275AC" />
                         <copyFeature name="ECAD Part Library Management" feature="0E01B5C5E11D1DA159432AE8A64A71DA" />
                         <copyFeature name="MES Integration/CMTMES INTEG For Rich Client" feature="N1FO33ZTJU83HEFYAEZXEIH7N9809D5M" />
                         <copyFeature name="Substance Compliance IMDS (International Material Data System) Integration/Substance Compliance - IMDS Integration For Rich Client" feature="40DC35FD22A04BB682968913302C4C1E" />
                         <copyFeature name="Color BOM for Product Master Management/Data Model" feature="1C13C68837D9CDFCAC57C92E3DD6A8C1" />
                         <copyFeature name="Configure AutoCAD Integration for GM Overlay" feature="CF27C04A2D2CEC8AE663FF09CB18CA22" />
                         <copyFeature name="Content Management S1000D 4.0/Content Management S1000D 4.0 for Rich Client" feature="985EC8CD9FDBDDE21AAE36C5C448CDCE" />
                         <copyFeature name="Dimensional Planning And Validation Multi Field Key" feature="F6FC0C330659313EE325EF46560A87F5" />
                         <copyFeature name="Advanced PLM Services for Partitioning" feature="2595BAF10CC962E29F0B9BD761631C22" />
                         <copyFeature name="Color BOM for Product Master Management/Product Master Manager Color Management module for Rich Client" feature="C0BD38B441FD4676B95A2E591CC08AD8" />
                         <copyFeature name="MES Issue Management" feature="EF3673AE7507EDD0A89F39AE9E7B6825" />
                         <copyFeature name="Content Management S1000D 4.0/Runtime Server" feature="9889C9BC8D877D6007390697220E4AC1" />
                         <copyFeature name="Transaction Processing" feature="80097815CCAEAE1BCA1FE603CC1BBECC" />
                         <copyFeature name="Embedded Software Design Data Management with SCM Clear Case Integration/Data Model" feature="B7134E9D1B167635DFC7C10123FC06AA" />
                         <copyFeature name="Wire Harness Configuration in GM Overlay/Data Model" feature="ADBC332BCA149D302D7E493495A042CA" />
                         <copyFeature name="Penetration Request Management/Data Model" feature="E9433EB5143284D8DA5FA5130B7473E3" />
                         <copyFeature name="GM customization for DPV/Data Model" feature="726D3665740DEB9306F4A27A221859ED" />
                         <copyFeature name="Advanced PLM Services for Partitioning/Advanced PLM Services for Partitioning For Rich Client" feature="0B017305DDED4A79B2C532F73CC747B1" />
                         <copyFeature name="Substance Compliance IMDS (International Material Data System) Integration/Data Model" feature="83333E342D22845481D30889AAAC19B6" />
                         <copyFeature name="As-Built and As-Maintained Alignment/As-Built and As-Maintained Alignment for Service Manager" feature="621867822C3BEE45E41BD746D438D8E8" />
                         <copyFeature name="PAD/TWP Customization" feature="26E120E4EC63A4417DEFC592BA44DA1A" />
                         <copyFeature name="Dispatcher Server" feature="C1F107F376D71271DE7B88D14CDC01AB" />
                         <copyFeature name="Aerospace and Defense Foundation Training/Data Model" feature="727FC0BE66DFFC925792C895C9393AED" />
                         <copyFeature name="Aerospace and Defense Change Management" feature="B0A83D5C60767D8E7E794750361B5702" />
                         <copyFeature name="As-Built and As-Maintained Alignment" feature="BE3413986E3A589396AAF76E8CE966AC" />
                         <copyFeature name="Partitioned Design Guidelines/Rich Client for Partitioned Design Guidelines" feature="E0A8463E3CCE4B519AE6E6C3DC38BA8E" />
                         <copyFeature name="Next generation Classification foundation/Data Model" feature="3D85937EC9CEAB8E204FD099E8BD873B" />
                         <copyFeature name="4th Generation Design/Runtime Server" feature="416646E6938148CEAF361C5772B1E076" />
                         <copyFeature name="MDConnectivity/Data Model" feature="4E620991C007B13C6641B55273CC82F7" />
                         <copyFeature name="Product Master Manager Partition Management Integration" feature="0LY24XWL6NVNSN0219YLHFGF56Q8QO2S" />
                         <copyFeature name="Partitioned Design Guidelines/Data Model" feature="9A56641FBEE9B283684CBA83EF110B91" />
                         <copyFeature name="System Modeling" feature="FC8E3AAFCB796833C338B634CD660240" />
                         <copyFeature name="4th Generation BOM Management" feature="4E57C5D9B0BF3E0A28D3481CA60513A8" />
                         <copyFeature name="GM PAD/TWP Customization" feature="2A8B0A9158B1BB53376578E00F3DAF32" />
                         <copyFeature name="Multi-Disciplinary Associations/Data Model" feature="9946B06E626448BB3A1F62CCF797602A" />
                         <copyFeature name="4th Generation Design/4th Generation Design For Rich Client" feature="5FF7746CA45B11DFA7A3A39DDFD72085" />
                         <copyFeature name="Manufacturing core using APS" feature="F3CA7DAED30B2B428D85510A5F57BFAF" />
                         <copyFeature name="Product Master Manager Partition Management Integration/Product Master Manager Partition Management Integration module for Rich Client" feature="EKKN0LNIHO4PWHA6UTGUEHCWJ75FEGO2" />
                         <copyFeature name="Dispatcher Client" feature="301F12B06B3EAAB18DC0C2B9444F3B18" />
                         <copyFeature name="Service Processing" feature="6BABAB43D0952B0D1A25E6AB3ABCE57B" />
                         <copyFeature name="4th Generation BOM Management/4th Generation BOM Management For Rich Client" feature="5A995306C63E6C243F9287C22929F60A" />
                         <copyFeature name="Service Processing/Service Processing Extensions for Service Manager" feature="BECBF36367084A16B5F3A3A199BF1471" />
                         <copyFeature name="Multi-Disciplinary Associations/Teamcenter Multi-Disciplinary Object RAC" feature="6ML9EV9PRBXF7U2M7KJOT0YRQVJAWNYJ" />
                         <copyFeature name="4th Generation BOM Design Alignment/4th Generation BOM Design Alignment integration for Rich Client" feature="7E73298E9022E02C1EA5BA4715B4A6CA" />
                         <copyFeature name="Service Event Management/Service Event Management Extensions for Service Manager" feature="CD5A72613F0E4A94AB9417CE642E4C7E" />
                         <copyFeature name="4th Generation Design Change Management Integration" feature="563DDE40692E9EAF78198D45C5611486" />
                         <copyFeature name="Library Management/Data Model" feature="7A9B07A2F2CFEC8BC763AE7DF2DE6DD2" />
                         <copyFeature name="Diagramming" feature="1B8DC1A298CCCCB5031B4F089FD6E4EB" />
                         <copyFeature name="Service Scheduler/Runtime Server" feature="2714FED4D36A8D369AE1CEBAC535FF6E" />
                         <copyFeature name="Service Event Management" feature="3FC1CCF574E4D9AE29BED1BFCB708FB8" />
                         <copyFeature name="Service Planning and Service Processing Alignment/Data Model" feature="990CC18E2D07AC69FA5F8B1A4485EE69" />
                         <copyFeature name="NX 4th Generation Design" feature="1B51FB077DC38236AD4E4DD3727CA385" />
                         <copyFeature name="4th Generation Design Change Management Integration/4th Generation Design Change Management Integration For Rich Client" feature="19EA112FAFCB44798EDB4B3DDA3E7D48" />
                         <copyFeature name="4th Generation BOM Design Alignment/Data Model" feature="42606C224E5FE7CF510B18DC22CB3D1F" />
                         <copyFeature name="Manufacturing support for 4th Generation Design" feature="5A1BF93F72F14C7B208F2DC1F5C2F054" />
                         <copyFeature name="Mentor Translation Support" feature="7C5F931ACE78588F4ED6588A6B5A67FA" />
                         <copyFeature name="Cadence Translation Support" feature="1A05D295A8E01028EDF00E310F33576D" />
                         <copyFeature name="Service Request Processing (Requires Change Management)/Service Request Manager" feature="DA9037E198F24BB99EA6DFAB8F2B2D68" />
                         <copyFeature name="Manufacturing support for 4th Generation Design/ RAC Manufacturing support for 4th Generation Design" feature="58980718A7454A74BF7A7BEDBDD4ABD1" />
                         <copyFeature name="Service Request Processing (Requires Change Management)/Data Model" feature="E7C7EF8CB77931036A79099DD60A0AED" />
                         <copyFeature name="Service Scheduler/Service Scheduling" feature="51EC6281B8EFBA9CA8139202A1E92F13" />
                         <copyFeature name="NX Piping and Instrumentation Diagram (P&amp;ID) Design/Data Model" feature="67D5B7342FF342EE1D279AED99D17785" />
                         <copyFeature name="Service Forecasting" feature="A7C21010C4A93ED2B926A2CE174ACE78" />
                         <copyFeature name="4th Generation Design Issue Management" feature="4294B02B22F09BE68C6D6486195AC88C" />
                         <copyFeature name="Service Forecasting/Service Forecasting" feature="51EC6281B8EFBA9CA8139202A1E56G14" />
                         <copyFeature name="Service Automated Scheduling" feature="07262E60EE128DC843967BC2EFE39D09" />
                         <copyFeature name="Service Automated Scheduling/Automated Scheduling" feature="51EC6281B8EFBA9CA8131202A1E92F13" />
                         <copyFeature name="EMPS - ECAD Translation" feature="C2B5D522B3BE0B31C42CBACB058F31B8" />
                         <copyFeature name="Install Libraries for AIWS Client" feature="DF1113C8B97E7FB6276DA802EA2CFD6F" />
                         <copyFeature name="Spatial Search" feature="BEAFB86044265E2347C283EA7D83F0DF" />
                         <copyFeature name="Bounding box generation from JT (Requires Dispatch Server)" feature="16A213558F4BB66FC1A0B50405C551D2" />
                         <copyFeature name="Trueshape generation from JT (Requires Dispatch Server)" feature="11054A8BA2BBF7EB27EBBC3841C72F8E" />
                         <copyFeature name="Bounding box generation from NX" feature="BEDB3C42EFA092306C2C3A24C7BCFADE" />
                         <copyFeature name="Server Print" feature="301F12B06B3EAAB18DC0C2B9444F3B51" />
                         <copyFeature name="QPL for Repeatable Digital Validation" feature="C234AA2CF3FF24E8ECB1DD4455938FF2" />
                         <unpack name="FMS Server Cache" feature="90C2A1C96F6A61FAB397AF88ABE4AAC1" />
                         <unpack name="Teamcenter Foundation" feature="8C061DD51E13E0CB9DC4687B1A3348BE" />
                         <unpack name="NX Part Family Classification Integration" feature="B176F6B6E9E91D9804EFB0D2010FD613" />
                         <unpack name="Java EE Based Server Manager" feature="BF0E78AFE4280DCB08594EA2F3671BE8" />
                         <unpack name="Action Manager Service" feature="49DB4E82CF098BE332C83AB78122E5B8" />
                         <unpack name="Subscription Manager Service" feature="50DB3E81CB098FE302D83EF78162E5D8" />
                         <unpack name="Task Manager Service" feature="15CB3E81DB098FE311D83EE78162E58D" />
                         <unpack name="Teamcenter Management Console" feature="K8UXRUS99KEBJT92NOLP4WX2198HT6RM" />
                         <unpack name="Client Communication System" feature="WV56WDWGQRW3NDGOS4YEXNF55EKZHUEN" />
                         <unpack name="Change Management/Data Model" feature="E9B8A3F6B7B53AE540DCC54C13B3C201" />
                         <unpack name="Material Management/Runtime Server" feature="66481A9892E8755A847B43EDE9E2B583" />
                         <unpack name="Material Management/Data Model" feature="D8B1E07653BB28A09F52C2FAAF18553A" />
                         <unpack name="NX Foundation/Data Model" feature="0BEECDCD0AD8B6D45617733583A4A78C" />
                         <unpack name="NX Foundation/Runtime Server" feature="D8763B046E4A5DF5C5CA22612756FECF" />
                         <unpack name="Change and Schedule Management Interface/Data Model" feature="D18192F4475ADEA11EC85F454C6ABA31" />
                         <unpack name="Change and Schedule Management Interface/Runtime Server" feature="115EA2D072AE11E19424D3DD4724019B" />
                         <unpack name="Dispatcher Server" feature="C1F107F376D71271DE7B88D14CDC01AB" />
                         <preInstall name="FMS Server Cache" feature="90C2A1C96F6A61FAB397AF88ABE4AAC1" />
                         <preInstall name="Teamcenter Foundation" feature="8C061DD51E13E0CB9DC4687B1A3348BE" />
                         <preInstall name="NX Part Family Classification Integration" feature="B176F6B6E9E91D9804EFB0D2010FD613" />
                         <preInstall name="Java EE Based Server Manager" feature="BF0E78AFE4280DCB08594EA2F3671BE8" />
                         <preInstall name="Action Manager Service" feature="49DB4E82CF098BE332C83AB78122E5B8" />
                         <preInstall name="Subscription Manager Service" feature="50DB3E81CB098FE302D83EF78162E5D8" />
                         <preInstall name="Task Manager Service" feature="15CB3E81DB098FE311D83EE78162E58D" />
                         <preInstall name="Teamcenter Management Console" feature="K8UXRUS99KEBJT92NOLP4WX2198HT6RM" />
                         <preInstall name="Client Communication System" feature="WV56WDWGQRW3NDGOS4YEXNF55EKZHUEN" />
                         <preInstall name="Change Management/Data Model" feature="E9B8A3F6B7B53AE540DCC54C13B3C201" />
                         <preInstall name="Material Management/Runtime Server" feature="66481A9892E8755A847B43EDE9E2B583" />
                         <preInstall name="Material Management/Data Model" feature="D8B1E07653BB28A09F52C2FAAF18553A" />
                         <preInstall name="NX Foundation/Data Model" feature="0BEECDCD0AD8B6D45617733583A4A78C" />
                         <preInstall name="NX Foundation/Runtime Server" feature="D8763B046E4A5DF5C5CA22612756FECF" />
                         <preInstall name="Change and Schedule Management Interface/Data Model" feature="D18192F4475ADEA11EC85F454C6ABA31" />
                         <preInstall name="Change and Schedule Management Interface/Runtime Server" feature="115EA2D072AE11E19424D3DD4724019B" />
                         <preInstall name="Dispatcher Server" feature="C1F107F376D71271DE7B88D14CDC01AB" />
                         <install name="FMS Server Cache" feature="90C2A1C96F6A61FAB397AF88ABE4AAC1" />
                         <install name="Teamcenter Foundation" feature="8C061DD51E13E0CB9DC4687B1A3348BE" />
                         <install name="NX Part Family Classification Integration" feature="B176F6B6E9E91D9804EFB0D2010FD613" />
                         <install name="Java EE Based Server Manager" feature="BF0E78AFE4280DCB08594EA2F3671BE8" />
                         <install name="Action Manager Service" feature="49DB4E82CF098BE332C83AB78122E5B8" />
                         <install name="Subscription Manager Service" feature="50DB3E81CB098FE302D83EF78162E5D8" />
                         <install name="Task Manager Service" feature="15CB3E81DB098FE311D83EE78162E58D" />
                         <install name="Teamcenter Management Console" feature="K8UXRUS99KEBJT92NOLP4WX2198HT6RM" />
                         <install name="Client Communication System" feature="WV56WDWGQRW3NDGOS4YEXNF55EKZHUEN" />
                         <install name="Change Management/Data Model" feature="E9B8A3F6B7B53AE540DCC54C13B3C201" />
                         <install name="Material Management/Runtime Server" feature="66481A9892E8755A847B43EDE9E2B583" />
                         <install name="Material Management/Data Model" feature="D8B1E07653BB28A09F52C2FAAF18553A" />
                         <install name="NX Foundation/Data Model" feature="0BEECDCD0AD8B6D45617733583A4A78C" />
                         <install name="NX Foundation/Runtime Server" feature="D8763B046E4A5DF5C5CA22612756FECF" />
                         <install name="Change and Schedule Management Interface/Data Model" feature="D18192F4475ADEA11EC85F454C6ABA31" />
                         <install name="Change and Schedule Management Interface/Runtime Server" feature="115EA2D072AE11E19424D3DD4724019B" />
                         <install name="Dispatcher Server" feature="C1F107F376D71271DE7B88D14CDC01AB" />
                         <postInstall name="FMS Server Cache" feature="90C2A1C96F6A61FAB397AF88ABE4AAC1" />
                         <postInstall name="Teamcenter Foundation" feature="8C061DD51E13E0CB9DC4687B1A3348BE" />
                         <postInstall name="NX Part Family Classification Integration" feature="B176F6B6E9E91D9804EFB0D2010FD613" />
                         <postInstall name="Java EE Based Server Manager" feature="BF0E78AFE4280DCB08594EA2F3671BE8" />
                         <postInstall name="Action Manager Service" feature="49DB4E82CF098BE332C83AB78122E5B8" />
                         <postInstall name="Subscription Manager Service" feature="50DB3E81CB098FE302D83EF78162E5D8" />
                         <postInstall name="Task Manager Service" feature="15CB3E81DB098FE311D83EE78162E58D" />
                         <postInstall name="Teamcenter Management Console" feature="K8UXRUS99KEBJT92NOLP4WX2198HT6RM" />
                         <postInstall name="Client Communication System" feature="WV56WDWGQRW3NDGOS4YEXNF55EKZHUEN" />
                         <postInstall name="Change Management/Data Model" feature="E9B8A3F6B7B53AE540DCC54C13B3C201" />
                         <postInstall name="Material Management/Runtime Server" feature="66481A9892E8755A847B43EDE9E2B583" />
                         <postInstall name="Material Management/Data Model" feature="D8B1E07653BB28A09F52C2FAAF18553A" />
                         <postInstall name="NX Foundation/Data Model" feature="0BEECDCD0AD8B6D45617733583A4A78C" />
                         <postInstall name="NX Foundation/Runtime Server" feature="D8763B046E4A5DF5C5CA22612756FECF" />
                         <postInstall name="Change and Schedule Management Interface/Data Model" feature="D18192F4475ADEA11EC85F454C6ABA31" />
                         <postInstall name="Change and Schedule Management Interface/Runtime Server" feature="115EA2D072AE11E19424D3DD4724019B" />
                         <postInstall name="Dispatcher Server" feature="C1F107F376D71271DE7B88D14CDC01AB" />
                         <featureInstalled name="FMS Server Cache" feature="90C2A1C96F6A61FAB397AF88ABE4AAC1" />
                         <featureInstalled name="Teamcenter Foundation" feature="8C061DD51E13E0CB9DC4687B1A3348BE" />
                         <featureInstalled name="NX Part Family Classification Integration" feature="B176F6B6E9E91D9804EFB0D2010FD613" />
                         <featureInstalled name="Java EE Based Server Manager" feature="BF0E78AFE4280DCB08594EA2F3671BE8" />
                         <featureInstalled name="Action Manager Service" feature="49DB4E82CF098BE332C83AB78122E5B8" />
                         <featureInstalled name="Subscription Manager Service" feature="50DB3E81CB098FE302D83EF78162E5D8" />
                         <featureInstalled name="Task Manager Service" feature="15CB3E81DB098FE311D83EE78162E58D" />
                         <featureInstalled name="Teamcenter Management Console" feature="K8UXRUS99KEBJT92NOLP4WX2198HT6RM" />
                         <featureInstalled name="Client Communication System" feature="WV56WDWGQRW3NDGOS4YEXNF55EKZHUEN" />
                         <featureInstalled name="Change Management/Data Model" feature="E9B8A3F6B7B53AE540DCC54C13B3C201" />
                         <featureInstalled name="Material Management/Runtime Server" feature="66481A9892E8755A847B43EDE9E2B583" />
                         <featureInstalled name="Material Management/Data Model" feature="D8B1E07653BB28A09F52C2FAAF18553A" />
                         <featureInstalled name="NX Foundation/Data Model" feature="0BEECDCD0AD8B6D45617733583A4A78C" />
                         <featureInstalled name="NX Foundation/Runtime Server" feature="D8763B046E4A5DF5C5CA22612756FECF" />
                         <featureInstalled name="Change and Schedule Management Interface/Data Model" feature="D18192F4475ADEA11EC85F454C6ABA31" />
                         <featureInstalled name="Change and Schedule Management Interface/Runtime Server" feature="115EA2D072AE11E19424D3DD4724019B" />
                         <featureInstalled name="Dispatcher Server" feature="C1F107F376D71271DE7B88D14CDC01AB" />
                    </script>
               </director>
               <ServerManagerJMX guid="30E3AC7AF5CA4F82EAE21C8073PPPPPP">
                    <components value="Server Manager|1|localhost|8092|;" />
               </ServerManagerJMX>
               <FSCMasterSettings guid="EBC3422F77C6BF18FE0E3A821EFE1134">
                    <masterModel value="Simple Model" />
               </FSCMasterSettings>
               <sslconfig guid="YB6AY4CKBY2HUQI75405XIQF5FZ9SWR5">
                    <enableSSL value="false" />
               </sslconfig>
               <FSCServiceFCCDefaults guid="7311DC5E94724BED0DD7419FCDE055CF">
                    <writeCacheSize value="1000" />
                    <readCacheSize value="1000" />
                    <cacheDirUnix value="/tmp/$USER/FCCCache" />
                    <partialReadCacheSize value="3000" />
                    <cacheDirWin value="$HOME\\FCCCache" />
               </FSCServiceFCCDefaults>
               <FSCServiceConnections guid="E4BDA0B521CB10A49F0CE123C9F326F1">
                    <connections value="http,4544,;" />
               </FSCServiceConnections>
               <OSUser guid="CA769D31FD7E122E5E509A0BBBD7E809">
                    <user value="infodba" />
                    <password value="{{ infodba_pass }}" encrypt="false" />
               </OSUser>
               <CharacterEncoding guid="5DC9A91F385448965CD1EDE3200A15E9">
                    <charEncoding value="UTF8" />
               </CharacterEncoding>
               <tmtcdata guid="86CE23768423C7D69A6EE432CF0703C4">
                    <modPort value="1999" />
                    <schedPort value="2001" />
                    <installSched value="true" />
                    <starttm value="false" />
                    <installModule value="true" />
                    <installAdminClnt value="true" />
                    <moduleStageDir value="/app/tc11/dc/Stage" />
                    <tmOnConsole value="true" />
                    <tmWinService value="false" />
                    <logDir value="/app/tc11/dc/Logs" />
                    <logLevel value="INFO" />
                    <tmRootDirLoc value="/app/tc11/dc" />
                    <schedHostName value="localhost" />
                    <installDocs value="true" />
                    <docsInstallDir value="/app/tc11/dc/Docs" />
               </tmtcdata>
               <TcOracleEngine guid="F4F7C0852B27D6E56B8C64BE77FFA14C">
                    <port value="1521" />
                    <createUser value="false" />
                    <host value="{{ ansible_fqdn }}" />
                    <flush value="false" />
                    <populate value="true" />
                    <service value="XE" />
                    <uTF8Enabled value="true" />
                    <password value="infodba" encrypt="false" />
                    <user value="infodba" />
                    <create value="false" />
               </TcOracleEngine>
               <FSCParents guid="30E3AC7AF5CA4F82EAE21C80737EE55B">
                    <parents value="http,{{ ansible_fqdn }},4544,,0,lan,;" />
                    <assignmentMode value="clientmap" />
               </FSCParents>
               <transdata guid="20E5BB0DBACCAC06FFFE406C68EA51AD">
                    <publishBatchSel value="false" />
                    <updateMassProductViewsSel value="false" />
                    <tcFtsIndexerTransSelected value="false" />
                    <createAssSelected value="false" />
                    <prevServSel value="false" />
                    <watchedFolderResultDir value="" />
                    <sCFTransHome value="" />
                    <pcbToFatFSel value="false" />
                    <proeToJtSel value="false" />
                    <subsCmplSel value="false" />
                    <password value="" encrypt="false" />
                    <sETransSel value="false" />
                    <sETransHome value="" />
                    <watchedFolderInputDir value="" />
                    <spatialSrchTransSel value="false" />
                    <plmSyncSelected value="false" />
                    <cmsBasePublishTool value="false" />
                    <populateFscSel value="false" />
                    <ugiiLic value="" />
                    <tcVisLic value="" />
                    <rdvContextNonDbDownloadSel value="false" />
                    <mmvIndexGenSel value="false" />
                    <generate3DPDFReportSel value="false" />
                    <rdvContextDbDownloadSel value="false" />
                    <fmsTransferSel value="false" />
                    <subsCmplSDValidationSel value="false" />
                    <ugsLicServ value="" />
                    <tcFtsIndxrTcRetryCount value="5" />
                    <tcFtsIndxrFourTierUrl value="http://&lt;HOSTNAME&gt;:7001/tc" />
                    <publishBatchTransHome value="" />
                    <nxToPvDirectSel value="false" />
                    <proeToDxfSel value="false" />
                    <importObjsSelected value="false" />
                    <renderMgtTranslatorSel value="false" />
                    <nxRefileSel value="false" />
                    <nxHome value="" />
                    <batchPrintSel value="false" />
                    <mesDataGenSel value="false" />
                    <nxTransDirectSel value="false" />
                    <queryscosSel value="false" />
                    <schMgrTransSel value="false" />
                    <projTransSel value="false" />
                    <reqMgmtWordToHtmlSel value="false" />
                    <storeAndForwardSel value="false" />
                    <enableCopyUG value="false" />
                    <subsCmplMSDImportSel value="false" />
                    <sCFTransSel value="false" />
                    <asyncServiceSel value="false" />
                    <nmsdPath value="" />
                    <tcVisHome value="" />
                    <fileTranslationMaxWait value="600" />
                    <proETransHome value="" />
                    <spatialSrchIndxrSel value="false" />
                    <fmsTransferBootFscUris value="" />
                    <nxCloneSel value="false" />
                    <nxToCgmDirectSel value="false" />
                    <subsCmplMSDRerequestSel value="false" />
                    <emailPollingSel value="false" />
                    <replicateObjsSelected value="false" />
                    <user value="" />
                    <pdfGeneratorSel value="false" />
               </transdata>
               <adminUser guid="2E53CFC3AC75665E50FF0F207D1D013B">
                    <user value="infodba" />
                    <password value="{{ infodba_pass }}" encrypt="false" />
               </adminUser>
               <ServerManagerHttps guid="YB6AY4CKBY2HUQI75405XIQF5FDDDDDD">
                    <keyStore value="" />
                    <keyStoreType value="" />
                    <httpsPort value="8083" />
                    <enableSSL value="false" />
                    <keyManagerPassword value="" encrypt="false" />
                    <keyStorePassword value="" encrypt="false" />
               </ServerManagerHttps>
               <ServerManagerLDAP guid="30E3AC7AF5CA4F82EAE21C8073NNNNNN">
                    <embComponents value="ldap|15389|;" />
                    <components value="" />
                    <externalLDAP value="false" />
               </ServerManagerLDAP>
               <FSCService guid="F2FCBCEC03DFF7F9D1E3A11EC9B64BD2">
                    <fscReadCacheDir value="/tmp/FSCCache" />
                    <fscWriteCacheDir value="/tmp/FSCCache" />
                    <addToBootstrap value="true" />
                    <fscReadCacheSize value="10" />
                    <serverID value="{{ pm_name }}_FSC" />
                    <log value="" />
                    <fscWriteCacheSize value="10" />
               </FSCService>
               <tcdata guid="4500621E2BE24BF0DD6ABF31EBA01088">
                    <serverHostLocation value="{{ ansible_fqdn }}" />
                    <path value="/app/tc11/tcdata" />
                    <create value="true" />
                    <shareName value="" />
                    <dsmKeyPath value="" />
               </tcdata>
               <FscSiteImport guid="630BECF927EC742A748A97486D5868DA">
                    <remoteSites value="" />
               </FscSiteImport>
               <FccSite guid="35EE6A66B85467D5EDE5B3D91871EACE">
                    <siteListString value="" />
               </FccSite>
               <serverMgrJ2ee guid="716871295BD80BADA2F139A5F9D95B6A">
                    <smgrPoolId value="{{ pm_name }}_Pool" />
                    <smgrMulticastMode value="false" />
                    <smgrLocalPort value="17800" />
                    <smgrServiceMode value="true" />
                    <smgrClusterPort value="45566" />
                    <smgrTcpTimeout value="15000" />
                    <smgrMaxServers value="30" />
                    <sockConnTimeout value="2000" />
                    <smgrJmxRMIPort value="8088" />
                    <smgrLoginsPerMinute value="0" />
                    <smgrMinServers value="1" />
                    <smgrClusterName value="{{ pm_name }}_Cluster" />
                    <smgrPeersNumber value="1" />
                    <smgrServerHost value="{{ ansible_fqdn }}" />
                    <smgrAssignmentServicePort value="8086" />
                    <smgrServerTarget value="0700 3, 1700 2" />
                    <smgrPeers value="{{ ansible_fqdn }}, 17810" />
                    <smgrPoolPort value="8085" />
               </serverMgrJ2ee>
               <multiplexingproxy guid="RV8GS2JMCOP2OQDRQROUAGFR6S0JBDIM">
                    <port value="8087" />
                    <adminPort value="8084" />
               </multiplexingproxy>
               <ServerManagerConsoleLDAP guid="30E3AC7AF5CA4F82EAE21C8073SSSSSS">
                    <embComponents value="ldap|15389|;" />
                    <components value="" />
                    <externalLDAP value="false" />
               </ServerManagerConsoleLDAP>
               <flexClient guid="7221ECFBC9555CDF997FC3F575022761">
                    <port value="27000" />
                    <nX5String value="28440@cinlic11.av.ge.com" />
                    <nX4String value="" />
                    <host value="{{ ansible_hostname }}" />
                    <nX5Port value="28000" />
                    <nX5CheckBox value="true" />
                    <nX5Host value="{{ ansible_hostname }}" />
                    <envServerString value="28440@cinlic11.av.ge.com" />
               </flexClient>
               <foundationSettings guid="LHBY67ZYMYHSKED26FHDNDHFJTZD84I7">
                    <templatesToBeInstalled value="cm,materialmgmt,nx0tcin,csi" />
                    <genClientCache value="generate all" />
                    <genServCache value="" />
                    <productionEnvironment value="true" />
                    <requestMetaCacheRebuild value="true" />
                    <enableGenServCache value="true" />
                    <quickClone value="false" />
               </foundationSettings>
               <signatureCertificate guid="RRK3WTCSY4020QSZO90QFJWMISFAC2AX">
                    <replaceCerts value="false" />
                    <certificates value="" />
               </signatureCertificate>
               <RACFCCSettings guid="8BC34CE71B738026DF2B3D94A83A836C">
                    <newHome value="/app/tc11/tc_root/tccs" />
                    <doMerge value="false" />
                    <needToSetFmsHome value="true" />
                    <buildTccs value="true" />
               </RACFCCSettings>
               <transientVolume guid="983980098FF188A8C4BF08E8168A32A8">
                    <windowsVolume value="C:\\Temp\\transientVolume_tc_infodba" />
                    <unixVolume value="/tmp/transientVolume_tc_infodba" />
               </transientVolume>
               <security guid="ZUG63OE2YRNFD1VY13KCEZM52XFJP45D">
                    <adminDirectory value="$TC_ROOT/security" />
               </security>
               <volume guid="1F16971107DE44C0C7827F800EE4AEF8">
                    <port value="4544" />
                    <fscModel value="Simple Model" />
                    <location value="/app/tc11/volume" />
                    <name value="volume" />
                    <hostName value="{{ ansible_hostname }}" />
                    <fscId value="FSC_{{ ansible_hostname }}_infodba" />
               </volume>
          </data>
          <features>
               <add feature="90C2A1C96F6A61FAB397AF88ABE4AAC1" name="FMS Server Cache" />
               <add feature="8C061DD51E13E0CB9DC4687B1A3348BE" name="Teamcenter Foundation" />
               <add feature="B176F6B6E9E91D9804EFB0D2010FD613" name="NX Part Family Classification Integration" />
               <add feature="BF0E78AFE4280DCB08594EA2F3671BE8" name="Java EE Based Server Manager" />
               <add feature="49DB4E82CF098BE332C83AB78122E5B8" name="Action Manager Service" />
               <add feature="50DB3E81CB098FE302D83EF78162E5D8" name="Subscription Manager Service" />
               <add feature="15CB3E81DB098FE311D83EE78162E58D" name="Task Manager Service" />
               <add feature="K8UXRUS99KEBJT92NOLP4WX2198HT6RM" name="Teamcenter Management Console" />
               <add feature="WV56WDWGQRW3NDGOS4YEXNF55EKZHUEN" name="Client Communication System" />
               <add feature="E9B8A3F6B7B53AE540DCC54C13B3C201" name="Change Management/Data Model" />
               <add feature="66481A9892E8755A847B43EDE9E2B583" name="Material Management/Runtime Server" />
               <add feature="D8B1E07653BB28A09F52C2FAAF18553A" name="Material Management/Data Model" />
               <add feature="0BEECDCD0AD8B6D45617733583A4A78C" name="NX Foundation/Data Model" />
               <add feature="D8763B046E4A5DF5C5CA22612756FECF" name="NX Foundation/Runtime Server" />
               <add feature="D18192F4475ADEA11EC85F454C6ABA31" name="Change and Schedule Management Interface/Data Model" />
               <add feature="115EA2D072AE11E19424D3DD4724019B" name="Change and Schedule Management Interface/Runtime Server" />
               <add feature="C1F107F376D71271DE7B88D14CDC01AB" name="Dispatcher Server" />
               <spf feature="6FF546FE37A6E0110A01C0F19F5742A0" name="Material Management" />
               <spf feature="750315D3BEB2810D3A4FA698D8EAED8A" name="NX Foundation" />
               <spf feature="DFCD67D128B68E6961C46E080B24B42D" name="Change Management" />
               <spf feature="751BC8021BC6CA80EE1479BDEE3D72DA" name="Change and Schedule Management Interface" />
          </features>
     </config>
     <updateManager />
</root>
